<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-3 ml-auto">
        <form class="input-icon my-3 my-lg-0">
          <input type="search" class="form-control header-search" placeholder="Search…" tabindex="1">
          <div class="input-icon-addon">
            <i class="fe fe-search"></i>
          </div>
        </form>
      </div>
      <div class="col-lg order-lg-first">
        <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
          <li class="nav-item">
            <a href="<%= root_path %>" class="nav-link active"><i class="fe fe-home"></i> Home</a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fe fe-shopping-cart"></i> Sell</a>
            <div class="dropdown-menu dropdown-menu-arrow">
              <a href="" class="dropdown-item ">Sell</a>
              <a href="" class="dropdown-item ">Open / Close</a>
              <a href="" class="dropdown-item ">Sales History</a>
              <a href="" class="dropdown-item ">Cash Management</a>
              <a href="" class="dropdown-item ">Status</a>
              <a href="" class="dropdown-item ">Settings</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fe fe-bar-chart"></i> Reports</a>
            <div class="dropdown-menu dropdown-menu-arrow">
              <a href="" class="dropdown-item ">Retail Dashboard</a>
              <a href="" class="dropdown-item ">Sales Reports</a>
              <a href="" class="dropdown-item ">Inventory Reports</a>
              <a href="" class="dropdown-item ">Payment Reports</a>
              <a href="" class="dropdown-item ">Register Closures</a>
              <a href="" class="dropdown-item ">Gift Card Reports</a>
              <a href="" class="dropdown-item ">Store Credit Reports</a>
              <a href="" class="dropdown-item ">Tax Reports</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fe fe-tag"></i> Products</a>
            <div class="dropdown-menu dropdown-menu-arrow">
              <a href="" class="dropdown-item ">Products</a>
              <a href="" class="dropdown-item ">Stock Control</a>
              <a href="" class="dropdown-item ">Promotions</a>
              <a href="" class="dropdown-item ">Price Books</a>
              <a href="" class="dropdown-item ">Product Types</a>
              <a href="" class="dropdown-item ">Suppliers</a>
              <a href="" class="dropdown-item ">Brands</a>
              <a href="" class="dropdown-item ">Product Tags</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fe fe-users"></i> Customers</a>
            <div class="dropdown-menu dropdown-menu-arrow">
              <a href="" class="dropdown-item ">Customers</a>
              <a href="" class="dropdown-item ">Groups</a>
            </div>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link"><i class="fe fe-image"></i> Ecommerce</a>
          </li>
          <li class="nav-item dropdown">
            <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fe fe-settings"></i> Setup</a>
            <div class="dropdown-menu dropdown-menu-arrow">
              <a href="" class="dropdown-item ">General</a>
              <a href="" class="dropdown-item ">Outlets and Registers</a>
              <a href="" class="dropdown-item ">Payment Types</a>
              <a href="" class="dropdown-item ">Sales Taxes</a>
              <a href="" class="dropdown-item ">Loyalty</a>
              <a href="" class="dropdown-item ">Users</a>
              <a href="" class="dropdown-item ">Gift Cards</a>
              <a href="" class="dropdown-item ">Store Credit</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
